$bg: var(--bg);
$fg: var(--fg);
$theme: var(--theme);
$font: var(--font);
$info-color: #38251c61;
$border-color: #00000017;

$borradi: 0.5em;
$anim: 0.3s ease-in-out;
$border: 1px solid $border-color;
